.no-decorate:hover{
    text-decoration: none;
    color: black;
}
.no-decorate{
    color: black;
}
.h-874{
    height: 874px;
}
.scholar-overview-hot{
    background-color:  rgb(245, 245, 245);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    border: none;
    background: #fff1e1 !important;
    transition: 0.1s ease-in-out;
}

.scholar-overview-hot:hover{
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.scholar-overview{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background-color: rgb(250, 250,250);

}
.scholar-overview:hover{
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3); 
    border: none;
    cursor: pointer;
}
.table-info tr td i {

    font-size: 12px;
    line-height: 1;
}

.table-info, .table-info>td, .table-info>th {
    background-color: inherit;
}

.scholar-detail{
    margin-left: 5px !important;
    margin-bottom: 5px !important;
}



.hastag {
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
}

.bg-lightblue{
    background-color: lightseagreen;
}
.bg-03203E {
    background-color: #03203E !important;
        width: auto ;
}

.bg-F3E4E4{
    background: #F3E4E4;
}
.bg-gray{
    background-color: #BBBBBB;
}
.bg-white {
    background: white;

   
}
.bg-f9f9f9{
    background: #f9f9f9;
}
.bg-baedd3{
    background: #baedd3;
    height: 500px;
    border: 0.5px solid #0055a8;
}

.bg-baedd3-noborder{
    background: #baedd3;

   
}
.bg-05081b-small {
    background-color: #05081b  !important;
    height: 58.4px;

}

.bg-F9F9F9{
    background: #F9F9F9;
}
.bg-EBEEF5{
    background: #EBEEF5;
}
.bg-05081b-nav{
    background-color: #05081b ;
}

.bg-A1DFED{
    background: #A1DFED;
}

.bg-03203E{
    background: #03203E;
}


.bg-74a8dc{
    background-color: #74a8dc;
}

.bg-74dca8{
    background-color: #74dca8;
}

.bg-228686{
    background-color: #228686;
}

.bg-74dcdc{
    background-color: #74dcdc;
}

.bg-baeded{
    background-color: #baeded;
}
.border-left-0055a8{
    border-left: 0.5px solid #0055a8;
}

.img-logo{
    width: 50px;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 0) !important;
  }
.navbar-collapse{
    z-index: 10000;
}

.nav-link {
    line-height: 1;
    font-size: 18px;
    
}

.nav-link i{
    padding-right: 0.5rem ;
    padding-left : 1rem ;
    border-left: 2px solid white ;
}
    @media only screen and (max-width: 1200px) {
     
    .nav-link i{
    display: none;
        }

       
    }

    @media only screen and (max-width: 1000px){
        .bg-black {
            background-color: black !important;
            height: 395px;
            width: auto ;
        }
        .container{
            width: 100% !important;
        }
    }

.no-border{
    border-left: none !important;
}
.search-bar-no-radius 
{
    border-radius: 0px !important;
    line-height: 1;
    font-size: 18px;
    height: 27px;
    border: none;
}

h3 {
    color: white;
	font-size: 18px;
	text-transform: uppercase;
    line-height: 1.5;
    font-weight: 500 !important;
}
h3:after {
	display: block;
	width: 100px;
	height: 2px;
	margin-top: 8px;
	content: '';
	background-color:lightgray;
}

.text-center{
    text-align: center;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
}
.card {
    background: #03203E;
    border:none;
}


.text-black {
    color: black;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2.5;
}

.text-black-nocenter {
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2.5;
}
.small-text{
    font-size: 13px;
    line-height: 1.5;
}

.small-text-big{
    font-size: 16px;
    line-height: 1;
}

.small-text1{
    font-weight: bold;
    font-size: 13px;
    line-height: 1;
}


.hastag-big{
    font-size: 15px;
    line-height: 1;
}
.hb-header{
    line-height: 1;
    font-size: 20px;
    font-weight: 600;
}

.hb-company{
    line-height: 0.8;
    font-size: 15px;
    font-weight: 200;
}


.hb-header-bigger {
    font-size: 26px;
    font-weight: 700;
}


.text-center-black {
    text-align: center;
    color: black;
}

.my-link{
    margin-left: 15px ;
    margin-right: 15px;
}
.my-link:hover{
    text-decoration: none;
}


.nav-tabs li >a {
    border-radius: 0px;
	 color: #333;
	 transition: background-color 0.2s, color 0.2s;
}
.nav-tabs li{
    border-radius: 0px;;
}
.nav-link{
    border-radius: 0px;;
}


.name{
    font-size: 18px;
    text-align: center;
}


.carousel-item img{
    max-height: 225px;
}



.text-dark{
    color: black;
    line-height: 1;
}

.text-dark::after{
    display: block;
	width: 30px;
	height: 2px;
	margin-top: 8px;
	content: '';
	background-color:black;
}



.my-link-big{
    font-size: 20px;
    padding-left: 10px;
    padding-right :10px ;
}

.my-link-big:hover{
    text-decoration: none;
}


/* Vertical tab*/

.tab {
   
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    height: 350px;
  }

  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }

  .tab button:hover {
    background-color: #ddd;
  }
  .tab button.active {
    background-color: #ccc;
  }

  .tabcontent1 {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    border-bottom: none ;
    height: 240px;
    overflow-y: scroll;
    overflow-x: hidden ;
  }

  .tabcontent2 {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    border-bottom: none ;
    height: 240px;
    overflow-y: hidden;
    overflow-x: hidden ;
  }

  .tb-message{
      font-size: 15px;
  }

  .tb-message td {
      font-size: 12px;
  }

  .mes-host{
      background: #a5bed6;
      border-radius: 5px;

  }

  .mes-guest{
    background: #5f98ce;
    border-radius: 5px;
  }


  .card-noftication{
      color: black;
      background: white;
      border: 1px solid gray;
  }

  .card-noftication:hover{

      background: lightgray;
  }


  .info-box{
      max-height:650px;
      overflow-y:scroll;
      overflow-x: hidden;
  }

  .wrap {
    flex: 1 1 auto;
  }
  .input1 {
    box-sizing: border-box;
  }

  .scholar-list-box
  {
    height: 822px;
    overflow-y:scroll;
    overflow-x: hidden;
  }

  .active{
      color: black !important;
  }
 .card-body p{
     font-size: 100px;
 }